@import url(base.css);

h1 {
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Copperplate Gothic Light';
  font-weight: 900;
  font-size: 200%;
  color: #453144;
  background-color: #8d72a5;
  box-shadow: #453144 0 2px 6px;
  margin: 8px 0px;
}

header h1{
  font-family: 'Copperplate Gothic Light';
  font-weight: 1000;
  font-size: 300%;
  color: #5a1460;
  margin: 8px 0px;
  border: none;
  box-shadow: none;
 }

/* Constrain the page to the viewport */
html,
body {
  height: 100vh;
  background-color: #8d72a5;
}

/* Center the nav's header and list */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navigation buttons have full width */
nav button {
  width: 100%;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  padding: 0px;
  margin: 16px;
  list-style-type: none;
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5em;
  min-height: 100vh;
  margin: 0;
  background-color: #8d72a5;
}

@media (min-width: 30em) {
  body {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "h h"
      "n m"
      "f f";
  }

  header {
    grid-area: h;
  }

  nav {
    grid-area: n;
  }

  main {
    grid-area: m;
    overflow-y: auto;
  }

  footer {
    grid-area: f;
  }
}

/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */
 header {
  display: flex;

 }

/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */

/* Task 3.3. Make the main element a Flexbox container */


/* Task 3.4. Make the footer's ul a Flexbox container */


/* From here on styling from exercise 1 */
/*img {
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 10px solid #8d72a5;
  border-radius: 8px;
}

article {
  border: 1px solid #453144;
  border-radius: 12px;
  box-shadow: 0 2px 6px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #DBBBD8;
}*/

article {
  border: 1px solid #453144;
  border-radius: 12px;
  box-shadow: 0 2px 6px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #DBBBD8;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 10px solid #8d72a5;
  border-radius: 8px;
}

article ul {
  list-style: disc;
  padding-left: 2em;
  margin: 0.5em 0;
}

article ul li {
  margin-bottom: 0.25m;
}

.plot {
  height: auto;
  overflow: visible;
  border-radius: 10px;
  font-style: italic;
  display: inline-block;
  background-color: #B68BB3;
  padding: 10px;
  box-shadow: #453144 0 2px 6px;
  ;
}

a {
  color: beige;
}

span {
  margin-right: 4px;
}

.genre {
  padding: 2px 8px;
  border: solid black 1px;
  border-radius: 6px;
  background-color: #8d72a5;
  font-weight: bold;
}

.ratings {
  display: inline-block;
  font-family: 'Segoe', sans-serif;
  border-radius: 100px;
  padding-right: 12px;
  padding-left: 12px;
  box-shadow: 0 2px 6px;
  background-color: #B68BB3;

  margin-bottom: 25px;
}

button {
  flex: 1;
  padding: 0.875rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #B68BB3;
}